$them-color: #3f0e40;
$text-color: white;
$silver: silver;

.market {
  height: 5vh;
  .market--marketing {
    color: $silver;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    text-align: center;
    align-items: center;
    .market--marketing--icon {
      font-size: 30px;
      margin-right: 5px;
      margin-left: -8px;
      justify-content: space-between;
      display: flex;
      transform:"rotate(180deg)"
    }
  }
 
  .market--hide {
    display: none;
  }
  #item{
    background-color: $them-color;
  }

  .market--marketing:hover + .market--hide {
    display: block;
    color: $text-color;
    float: right;
    margin: 10px;
    margin-left: 6rem;
    text-align: center;
  }
}

