$them-color: #3f0e40;
$text-color: white;
$silver: silver;

.sidebar--name {
    color: $silver;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    padding-left: 20px;
    text-align: center;
    align-items: center;
    .sidebar--name--icon {
      font-size: 16px;
      margin-right: 8px;
    }
    .sidebar--name--icon2 {
      font-size: 30px;
      margin-right: 5px;
      margin-left: -8px;
    }
  }
