$them-color: #3f0e40;
$text-color: white;
$silver: silver;

.development{
   .development--header{
border-bottom: 1px solid gray;
   }
}


.img{
    width: 30px;
    height: 30px;
    border-radius: 10px;
}