$them-color: #3f0e40;
$text-color: white;
$silver: silver;

.market {
  &:hover {
    background-color: #300631;
    color: $text-color;
  }
  .market--marketing {
    color: $silver;
    display: flex;
    margin-left: 10px;
    .market--marketing--icon {
      font-size: 30px;
      display: flex;
    }
  }

  .market--hide {
    display: none;
  }
  #item {
    background-color: $them-color;
  }

  .market--marketing:hover + .market--hide {
    display: block;
    color: $text-color;
    float: right;
    text-align: center;
    margin-top: -1.6rem;
  }
}
