$them-color: #3f0e40;
$text-color: white;
$silver: silver;

.market {
  .market--marketing {
    color: $silver;
    display: flex;
    padding: 0;
    text-align: center;
    align-items: center;
    .market--marketing--icon {
      font-size: 30px;
      display: flex;
    }
  }
 
  .market--hide {
    display: none;
  }
  #item{
    background-color: $them-color;
  }

  .market--marketing:hover + .market--hide {
    display: block;
    color: $text-color;
    float: right;
    text-align: center;
  }
}

