.chats {
    height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
  .chats--date {
    background-color: white;
    border: 1px solid grey;
    color: black;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 5rem;
    margin: 0;
    position: absolute;
    position: sticky;
    left: 50%;
  }
  .chats--singleChat {
    padding: 1rem;
    display: flex;

    .chats--singleChat--img,
    .chats--singleChat--imge {
      width: 40px;
      border-radius: 10px;
      margin-right: 10px;
    }
    .chats--singleChat--details {
      line-height: 0px;
      margin-top: -10px;

      .chats--singleChat--details--time {
        color: gray;
        font-size: 10px;
        text-align: center;
        align-items: center;
        margin: 5px;
        margin-top: 20px;
      }
      .chats--singleChat--details--meggage {
        margin: 0;
        .chats--singleChat--details--meggage,
        span {
          background-color: rgba(255, 255, 0, 0.808);
          font-size: 14px;
          padding: 1px 5px;
          border-radius: 2px;
          font-weight: bold;
        }
      }
    }
  }
  .chats--reaction {
    display: none;
    position: absolute;
    right: 0;
    justify-content: end;
    margin: 1rem;
    margin-top: -6rem;
    padding: 5px 10px;
    border: 0.5px solid silver;
    border-radius: 5px;
    background-color: white;
    overflow-y: scroll;
    .chats--reaction--icon {
      font-size: 22px;
      margin: 0 5px;
      font-weight: 300;
      float: none;
    }
    .chats--reaction--icon--pin{
        transform: rotate(20deg);
      }
  }
}

.chats--singleChat:hover {
  background-color: rgba(192, 192, 192, 0.322);
  cursor: pointer;
  border: 0.5px solid rgba(128, 128, 128, 0.247);
}

.chats--singleChat:hover + .chats--reaction {
  display: block;
  color: rgba(56, 55, 55, 0.671);
}
