$them-color: #3f0e40;
$text-color: white;

.slackBody{
    margin: 0;
    padding: 0;
    display: flex;
    // .slackBody--left{
    //     background-color: $them-color;
    //     width: 20%;
    //     height: 92vh;
    // }
    // .slackBody--right{  
    //     // width: 80%;
    //     height: 92vh;
    // }
}

.sidebar--name:hover {
    background-color: #300631;
    color: $text-color;
  }