$them-color: #3f0e40;
$text-color: white;
$silver: silver;

.sidebar {
  .sidebar--header {

    color: $text-color;
    padding: 15px;
    margin-top: -2px;
    align-items: center;
    border-bottom: 1px solid rgba(192, 192, 192, 0.377);
    border-top: 1px solid rgba(192, 192, 192, 0.377);
    .sidebar--header--user {
      .sidebar--header--user--status {
        padding: 0 5px;
        height: 10px;
        margin-right: 3px;
        margin-top: 5px;
        border-radius: 50%;
        background-color: green;
      }
      .sidebar--header--user--userName {
        font-size: 14px;
        font-weight: 300;
      }
    }

    .sidebar--header--edit {
      background-color: $text-color;
      color: #3f0e40;
      padding: 1px 5px;
      border-radius: 5px;
      float: right;
      margin-top: -2.5rem;
    }
  }
  .sidebar--name {
    color: $silver;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    padding-left: 20px;
    text-align: center;
    align-items: center;
    .sidebar--name--icon {
      font-size: 16px;
      margin-right: 8px;
    }
    .sidebar--name--icon2 {
      font-size: 30px;
      margin-right: 5px;
      margin-left: -8px;
    }
  }
  .sidebar--Announcement {
    display: flex;
    border-bottom: 1px solid rgba(192, 192, 192, 0.377);
    border-top: 1px solid rgba(192, 192, 192, 0.377);
    color: $text-color;
    position: absolute;
    bottom: 0;
    width: 20%;
    padding-top: 1rem;
    padding-bottom: 1rem;
   padding-left: 25px;
  }
}

.sidebar--name:hover {
  background-color: #300631;
  color: $text-color;
}
