$them-color: #3f0e40;
$text-color: white;
$silver: silver;

.sidebar {
  background-color: #3f0e40;
  width: 100%;
  height: 90vh;
  display: flex;

  .sidebar--header {
    width: 20%;
    .sidebar--header-groupName {
      background-color: $them-color;
      color: $text-color;
      padding: 15px;
      align-items: center;
      border-bottom: 1px solid rgba(192, 192, 192, 0.377);
      border-top: 1px solid rgba(192, 192, 192, 0.377);
      .sidebar--header--user {
        .sidebar--header--user--status {
          padding: 0 5px;
          height: 10px;
          margin-right: 3px;
          margin-top: 5px;
          border-radius: 50%;
          background-color: green;
        }
        .sidebar--header--user--userName {
          font-size: 14px;
          font-weight: 300;
        }
      }

      .sidebar--header--edit {
        padding: 1px 5px;
        border-radius: 5px;
        float: right;
        margin-top: -2.5rem;
      }
    }
    .sidebar--name {
      color: $silver;
      padding-top: 3px;
      padding-bottom: 3px;
      display: flex;
      padding-left: 20px;

      &:hover {
        background-color: #300631;
        color: $text-color;
      }
      .sidebar--name--icon {
        font-size: 20px;
        margin-right: 14px;
      }
      .sidebar--name--icon2 {
        font-size: 25px;
        margin-right: 5px;
        margin-left: -8px;
      }
    }
    .Sidebar-route {
      background-color: #3f0e40;
      color: $text-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: $silver;
      }
    }
  }
  .sidebar--Announcement {
    display: flex;
    border-bottom: 1px solid rgba(192, 192, 192, 0.377);
    border-top: 1px solid rgba(192, 192, 192, 0.377);
    color: $text-color;
    position: absolute;
    bottom: 0;
    padding: 20px 5px;
    padding-right: 36px;
    align-items: center;
    h4{
      font-weight: 500;
    }
  }
  .appRoutes{
    width: 80%;
    background-color: $text-color;
  }
}
